body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#E7D19D;
    font-family:Andalus;
    background: linear-gradient(to top, #fefcea, #f1da36) no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family:Andalus;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
