@model IEnumerable<dancing_studio.DAL.Group>

@{
    ViewBag.Title = "Выбор группы";
}

<h2>Выбор группы</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.ActionLink(item.Name, "Index", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Name)
        </td>
    </tr>
}

</table>
